<div class="container p-2 bg-dark mt-3" id="profile">
    <div class="container mt-3">
        <p>Hola, soy Alejandro Pérez, un estudiante de <span>ingeniería de sistemas</span> en la Universidad de Antioquia, actualmente cursando el 8vo semestre.</p>
        <p>Yo comencé mis estudios en el primer semestre del 2016, siempre me ha apasionado el diseño, arquitectura y seguridad de todo lo que se construye, por lo que el área de mi enfoque es la
            <span> ingeniería de software.</span>
            Durante el trayecto formativo me ha interesado aprender por mi propia cuenta, por lo cual he tomado algunos cursos de <span>desarrollo de software </span>
            para seguir complementado mi portafolio profesional.            
        </p>
        <p>Actualmente me estoy perfilando para ser en desarrollador web (Web sites & Web app) tanto para <span>backend</span> como <span>frontend</span>, aunque es un proceso que require de mucha practica, dejaré
            algunos proyectos que he trabajo y aprendido un poco en la sección <span> proyectos.</span>
        </p>

        <button type="button" class="btn boton" data-toggle="collapse" data-target="#cursos">Algunos de mis certificados</button>
        <div id="cursos" class="collapse">
            <br>
            <img src="../../../assets/udemy-nodejs.png" alt="udemy nodejs">
            <hr>
            <img src="../../../assets/udemy-javascript.png" alt="udemy javascript">
            <hr>
            <img src="../../../assets/udemy-angular11.png" alt="udemy angular">
            <hr>
            <img src="../../../assets/coursera-angular.png" alt="coursera angular">
            <hr>
            <img src="../../../assets/coursera-bootstrap.png" alt="coursera bootstrap">
            <br>
            <br>
            <button type="button" class="btn boton" data-toggle="collapse" data-target="#cursos">Cerrar</button>
        </div>
        <br>
    </div>
</div>
<br>


