<app-navbar></app-navbar>
<div class="container bg-dark mt-2">
    <section id="home" style="background: none;" class="home"></section>
        <app-profile></app-profile>
        <div  class="profile-image">
            <img src="../../../assets/perfilsinfondo.png" alt="Imagen perfil Alejandro Perez">
        </div>
        
    <section id="about"><h1>Acerca de mí</h1></section>
        <app-about></app-about>
    <section id="projects"><h1>Proyectos</h1></section>
        <app-projects></app-projects>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="contact"><h1>Contacto</h1></section>
        <app-contact></app-contact>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
