section{
    text-align: center;
    padding: 10px;
    background: darkgrey;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 6px 10px rgba(192, 192, 192, 0.808);
}

.profile-image{
    width: 30%;
    height: auto;
    bottom: 0px;
    left: 0px;
    margin-left: auto;
}

img{
    width: 111%;
}

.home{
    background: none;
    box-shadow: none;
}


